  <footer>
    <div class="pure-g">
      <div class="pure-u-1-1">
          <p class="">This app is online on Heroku</p>
          <p class="legal-license">Original source: <a href="https://www.wired.co.uk">WIRED</a> and <a href="https://www.theverge.com">The Verge</a></p>
          <p class="legal-copyright">
            © 2017 DIGIBYTES All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script id="dsq-count-scr" src="//digibytes-1.disqus.com/count.js" async></script>
  </body>
</html>
