<!doctype html>
<html>
	<head>
		<title>Digibytes </title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="/css/custom-styling.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
			<header>
				<div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="/">Digibytes</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Articles</a></li>
								<li class="pure-menu-item"><a href="#" class="pure-menu-link">Reviews</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
            </ul>
        </div>
			</header>
